
<h1>Clients</h1>
<p><a href='/clients/new'>Add a New Client<a/></p>
<p><a href='/'>Back to Home<a/></p>
<hr/>
<table>
  <tr>
    <th>Name</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  @foreach(var client in Model)
  {
  <tr>
    <td><a href="/clients/@client.GetClientId()">@client.GetClientName()</a></td>
    <td><a href="/clients/@client.GetClientId()/update">Edit</a></td>
    <td><a href="/clients/@client.GetClientId()/delete">Delete</a></td>
  </tr>
  }
</table>
