<h1>Add a new Specialty</h1>
<p><a href='/specialties'>Back to List<a/></p>
<hr/>
<form action="/specialties" method="post">
  <label for="newSpecialty">Add a new specialty</label>
  <input id="newSpecialty" name="newSpecialty" type="text">
  <button type="submit">Submit</button>
</form>
