<h1>Hair Salon</h1>
<p><a href='/stylists/new'>Add a New Stylist<a/></p>
<p><a href='/stylists'>View List of Stylists<a/></p>

<p><a href='/clients/new'>Add a New Client<a/></p>
<p><a href='/clients'>View List of Clients<a/></p>

<p><a href='/specialties/new'>Add a New Specialty<a/></p>
<p><a href='/specialties'>View List of Specialties<a/></p>
