<h1>Hair Salon</h1>
<p><a href='/categories/new'>Add a New Stylist<a/></p>
<p><a href='/categories'>View List of Stylists<a/></p>

<p><a href='/items/new'>Add a New Client<a/></p>
<p><a href='/items'>View List of Clients<a/></p>
