<h1>Add a new Stylist</h1>
<p><a href='/categories'>Back to List<a/></p>
<form action="/categories" method="post">
  <label for="newStylist">Add a new stylist</label>
  <input id="newStylist" name="newStylist" type="text">
  <button type="submit">Submit</button>
</form>
